.navbar {
  width: 100vw;
  height: var(--navbar-size);
  position: fixed;
  bottom: 0;
  background-color: var(--bg-primary);
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  width: var(--navbar-size);
}

.nav-logo {
  display: none;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.5);
  transition: var(--transition-speed);

  &:hover {
    filter: grayscale(0%) opacity(1);
  }
}

.link-icon {
  min-width: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 1.25rem;
  color: #6eb2f1;
}

.link-text {
  display: none;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-primary);
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .navbar {
    width: var(--navbar-size);
    height: 100vh;
    transition: width 200ms ease;

    &:hover {
      width: 20rem;

      .link-text {
        display: block;
      }

      .nav-logo .link-icon {
        transform: rotate(-270deg);
      }
    }
  }

  .nav-item {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: column;
    list-style: none;
  }

  .nav-logo {
    display: block;
    background-color: var(--bg-secondary);
    width: 100%;

    .nav-link {
      justify-content: space-between;
    }

    .link-icon {
      transform: rotate(0deg);
      transition: var(--transition-speed);
    }

    .link-text {
      margin-left: 1.25rem;
    }
  }
}
